<script>
    require(["jquery", "cookies", "ajax", "toastr", "app", "pubsub", "bootstrap", "extensions", "animsition"], function ($, cookies, ajax, toastr) {
        // Settings
        var languageExpiration = '@DateTime.Now.AddYears(1).ToShortDateString()',
            languageCookieName = '@GlobalSettings.Globalization.LanguageCookieName',
            countryCookieName = '@GlobalSettings.Globalization.CountryCookieName',
            countryCookieChosenName = '@GlobalSettings.Globalization.CountryCookieChosenName',
            $goToTopEl = $('#gotoTop'),
            addItemUrl = '@Url.Action("additemtocart","shopping")',
            getCountUrl = '@Url.Action("GetCartCount", "shopping")',
            SEMICOLON = SEMICOLON || {};

        // Event Handlers
        function registerEventHandlers() {

            $('#primary-menu-trigger').off('click').on('click', function () {
                if ($('#primary-menu').find('ul.mobile-primary-menu').length > 0) {
                    $('#primary-menu > ul.mobile-primary-menu, #primary-menu > div > ul.mobile-primary-menu').toggleClass('d-block');
                } else {
                    $('#primary-menu > ul, #primary-menu > div > ul').toggleClass('d-block');
                }
                $body.toggleClass("primary-menu-open");
                return false;
            });

            $('#page-header-select').on('change', function () {
                window.location = $(this).val();
            });

            // open country/language modal
            $('[data-toggle="language"]').on('click', function () {
                var $countryLangaugeModal = $("#language");
                $countryLangaugeModal.modal('show');
            });

            // language selection
            $('[data-language]').on("click", function () {

                cookies.set('@GlobalSettings.Globalization.LanguageCookieName', $(this).data("language"), {
                    expires: new Date('@DateTime.Now.AddYears(1).ToShortDateString()'),
                    path: '/'
                });

                window.location = window.location;
            });

            // Whe the language modal is opened, preset the values of the dropdowns if the langauge cookie already exists
            $("#language").on('shown.bs.modal', function () {
                if (cookies.get(languageCookieName) !== null) {
                    actions.setModalLanguageValues();
                }
            });
            $(document).ready(function () {
                $('.menu-button, .mobile-menu-closer').on('click', function (event) {
                    event.preventDefault();
                    $('.top-menu').toggleClass('show');
                    $('.block-side-menu').toggleClass('show');
                    $('.menu-button').toggleClass('animate');
                    $('body').toggleClass('no-scroll');
                });
            });
            // If the language modal is closed, set the language cookie if not already set
            $("#language").on('hidden.bs.modal', function () {
                var languageCookieNotSet = (cookies.get(languageCookieName) == null),
                    countryChosenCookieNotSet = (cookies.get(countryCookieChosenName) == null);

                if (languageCookieNotSet || countryChosenCookieNotSet) {
                    actions.setCountryLanguageCookies();
                }
            });

            // When Submit is clicked in the language modal set/overwrite the existing language cookie value
            $("#languageSubmit").on('click', function () {
                $("#language").modal('hide');
                actions.setCountryLanguageCookies();
            });

            $('[data-action="toggleMenu"]').on("click", function (e) {
                $(".sub-menu").toggle(400);
            });

            $("body").on("keyup, change", "[name$='Quantity']", function (e) {
                var $this = $(this),
                    allowZero = $(this).hasClass("allow-zero"),
                    quantity = $this.val();


                if (quantity.indexOf(".") >= 0) {
                    $this.val(quantity.replace(".", ""));
                    return;
                }

                if (quantity < 1 && !allowZero) {
                    $this.val("1");
                    return;
                }
                if (quantity < 0 && allowZero) {
                    $this.val("0");
                    return;
                }
            });

            // Quick View
            $("body").on('click', '.item-quick-view', function () {
                var $this = $(this);


                if ($('#quick-view-modal').is(':visible')) {
                    $('#quick-view-modal').modal('hide');
                }
                $('#quick-view-modal .modal-dialog').html('');

                var itemcode = $this.data('itemcode');

                ajax.json({
                    url: '@Url.Action("GetQuickViewModal", "Shopping")',
                    data: { itemcode: itemcode },
                    success: function (response) {
                        if (response.success) {
                            $('#quick-view-modal .modal-dialog').html(response.html);
                            $('#quick-view-modal').modal('show');
                        } else {
                            console.log('getQuickViewFailed', response);
                        }
                    }
                });
            });

            // Shopping cart and autoorder events
            $(window).on('item.addtoautoorder', function (e, item) {
                actions.addItemToCart(item);
            });

            $(window).on('item.addtoorder', function (e, item) {
                actions.addItemToCart(item);
            });

            $(window).on('item.addtoorderbeauty', function (e, item) {
                actions.addItemToCart(item,@PriceTypes.Preferred);
            });
            //end shopping cart events
        }


        // Actions
        var actions = {
            setCountryLanguageCookies: function (language, market) {
                var lang = (language || $('[name="Language"]').val());
                var country = (market || $('[name="Country"]').val());
                var options = {};
                options.expires = new Date(languageExpiration);
                options.path = "/";
                options.domain = false;
                options.secure = false;

                cookies.set(countryCookieName, country, options);
                cookies.set(countryCookieChosenName, "true", options);
                cookies.set(languageCookieName, lang, options);

                window.location = window.location;
            },
            setModalLanguageValues: function () {
                var lang = cookies.get(languageCookieName);
                var country = cookies.get(countryCookieName);

                $('[name="Language"]').val(lang);
                if (country !== null) {
                    $('[name="Country"]').val(country);
                }
            },
            ensureCountryLanguageChosen: function () {
                var hasMultipleLanguages = (parseInt(@ExigoDAL.GetLanguages().Count()) > 1),
                    hasMultipleCountries = (parseInt(@GlobalSettings.Markets.AvailableMarkets.Count) > 1),
                    languageCookieNotSet = (cookies.get(languageCookieName) == null),
                    countryCookieChosenNotSet = (cookies.get(countryCookieChosenName) == null);

                // If multiple countries or languages are supported and their respective cookies are not set, show the country language modal
                if ((hasMultipleCountries && countryCookieChosenNotSet) || (hasMultipleLanguages && languageCookieNotSet)) {
                    $("#language").modal('show');
                }
                else if (countryCookieChosenNotSet && languageCookieNotSet) {
                    // if only one country and language exist and the cookies aren't set, set them automatically
                    actions.setCountryLanguageCookies();
                }
            },
            getCartCount: function () {
                ajax.json({
                    url: getCountUrl,
                    success: function (response) {
                        if (response.success) {
                            if (response.cartCount > 0) {
                                $("#cartCount").html(response.cartCount);
                            }
                        }
                    }
                });

            },
            addItemToCart: function (item, priceType) {

                if (priceType == null) {

                    priceType = $(".price-col.active").data("pricetype");
                }

                var $button;
                ajax.json({
                    url: addItemUrl,
                    data: {
                        item: item,
                        priceType: priceType

                    },
                    beforeSend: function () {
                        if (item.Type == "Order") {
                            $button = $('[data-role="item.addtoorder"][data-itemcode="' + item.ItemCode + '"]');
                        }
                        else {
                            $button = $('[data-role="item.addtoautoorder"][data-itemcode="' + item.ItemCode + '"]');
                        }
                        $button.button('loading');
                    },
                    success: function (response) {
                        if (response.success) {
                            var orderTypeMessage = item.Type == 'Order' ? '@Resources.Common.HasBeenAddedToOrder' : '@Resources.Common.HasBeenAddedToAutoOrder';

                            var itemDescription = $('.item-row[data-itemcode="' + item.ItemCode + '"]').find('#ItemDescription').val();

                            toastr.success(("<strong>{0}</strong> " + orderTypeMessage)
                                .format(itemDescription));

                            if (item.Type == 'Order') {

                                var count = parseInt($("#cartCount").html());

                                console.log(count);

                                if (isNaN(count)) {


                                    $("#cartCount").html(1);
                                }
                                else {
                                    $("#cartCount").html(count + 1);

                                }
                                $('#cartCountContainer').not(':contains("(0)")').fadeIn();
                            }
                        }
                    },
                    complete: function () {
                        $('body').trigger('Shopping.UpdateCart');
                        $button.button("reset");
                    }
                });
            },
            isMobileDevice: function () {
                // device detection
                var check = false;
                (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true; })(navigator.userAgent || navigator.vendor || window.opera);
                return check;
            },
            SEMICOLON: function () {

                SEMICOLON.initialize = {

                    init: function () {

                        SEMICOLON.initialize.goToTop();
                        SEMICOLON.initialize.pageTransition();
                        SEMICOLON.initialize.stickFooterOnSmall();
                        SEMICOLON.initialize.stickyFooter();

                    },

                    goToTop: function () {
                        var elementScrollSpeed = $goToTopEl.attr('data-speed'),
                            elementScrollEasing = $goToTopEl.attr('data-easing');

                        if (!elementScrollSpeed) { elementScrollSpeed = 700; }
                        if (!elementScrollEasing) { elementScrollEasing = 'easeOutQuad'; }

                        $goToTopEl.off('click').on('click', function () {
                            $('body,html').stop(true).animate({
                                'scrollTop': 0
                            }, Number(elementScrollSpeed), elementScrollEasing);
                            return false;
                        });
                    },

                    goToTopScroll: function () {
                        var elementMobile = $goToTopEl.attr('data-mobile'),
                            elementOffset = $goToTopEl.attr('data-offset');

                        if (!elementOffset) { elementOffset = 450; }

                        if (elementMobile != 'true' && ($body.hasClass('device-sm') || $body.hasClass('device-xs'))) { return true; }

                        if ($window.scrollTop() > Number(elementOffset)) {
                            $goToTopEl.fadeIn();
                            $body.addClass('gototop-active');
                        } else {
                            $goToTopEl.fadeOut();
                            $body.removeClass('gototop-active');
                        }
                    },

                    pageTransition: function () {
                        if ($body.hasClass('no-transition')) { return true; }

                        if (!$().animsition) {
                            $body.addClass('no-transition');
                            console.log('pageTransition: Animsition not Defined.');
                            return true;
                        }

                        window.onpageshow = function (event) {
                            if (event.persisted) {
                                window.location.reload();
                            }
                        };

                        var animationIn = $body.attr('data-animation-in'),
                            animationOut = $body.attr('data-animation-out'),
                            durationIn = $body.attr('data-speed-in'),
                            durationOut = $body.attr('data-speed-out'),
                            timeOutActive = false,
                            loaderTimeOut = $body.attr('data-loader-timeout'),
                            loaderStyle = $body.attr('data-loader'),
                            loaderColor = $body.attr('data-loader-color'),
                            loaderHtml = $body.attr('data-loader-html');

                        if (!animationIn) { animationIn = 'fadeIn'; }
                        if (!animationOut) { animationOut = 'fadeOut'; }
                        if (!durationIn) { durationIn = 1500; }
                        if (!durationOut) { durationOut = 800; }
                        if (!loaderHtml) { loaderStyleHtml = '<div class="css3-spinner-bounce1"></div><div class="css3-spinner-bounce2"></div><div class="css3-spinner-bounce3"></div>'; }

                        if (!loaderTimeOut) {
                            timeOutActive = false;
                            loaderTimeOut = false;
                        } else {
                            timeOutActive = true;
                            loaderTimeOut = Number(loaderTimeOut);
                        }

                        loaderHtml = ''
                            + '<div id="SpinnerContainer" class="position-absolute d-flex h-100 w-100 justify-content-center align-items-center">'
                            + ' <div class="spinner-border text-primary" style="width: 10rem;height: 10rem;"  role="status">'
                            + '     <span class="sr-only">Loading...</span>'
                            + ' </div>'
                            + '</div>';

                        $wrapper.css({ 'opacity': 1 });

                        $wrapper.animsition({
                            inClass: animationIn,
                            outClass: animationOut,
                            unSupportCss: [
                              'animation-duration',
                              '-webkit-animation-duration',
                              '-o-animation-duration',
                            ],
                            inDuration: Number(durationIn),
                            outDuration: Number(durationOut),
                            linkElement: 'body #primary-menu:not(.on-click) ul li a:not([target="_blank"]):not([href*="#"]):not([href^="mailto"]):not([href^="tel"]):not([href^="sms"]):not([href^="call"])',
                            loading: true,
                            loadingParentElement: 'body',
                            loadingClass: 'page-transition-wrap',
                            loadingInner: loaderHtml,
                            timeout: timeOutActive,
                            timeoutCountdown: loaderTimeOut,
                            onLoadEvent: true,
                            browser: ['animation-duration', '-webkit-animation-duration'],
                            overlay: false,
                            overlayClass: 'animsition-overlay-slide',
                            overlayParentElement: 'body'
                        });

                    },

                    topScrollOffset: function () {
                        var topOffsetScroll = 0;

                        if (SEMICOLON.isMobile.any()) topOffsetScroll = 40;


                        return topOffsetScroll;
                    },

                    stickFooterOnSmall: function () {
                        $footer.css({ 'margin-top': '' });
                        var windowH = $window.height(),
                            wrapperH = $wrapper.height();

                        if (!$body.hasClass('sticky-footer') && $footer.length > 0 && $wrapper.has('#footer')) {
                            if (windowH > wrapperH) {
                                $footer.css({ 'margin-top': (windowH - wrapperH) });
                            }
                        }
                    },

                    stickyFooter: function () {
                        if ($body.hasClass('sticky-footer') && $footer.length > 0 && !SEMICOLON.isMobile.any()) {
                            var stickyFooter = $footer.outerHeight();
                            $content.css({ 'margin-bottom': stickyFooter });
                        } else {
                            $content.css({ 'margin-bottom': 0 });
                        }
                    }

                };

                SEMICOLON.isMobile = {
                    Android: function () {
                        return navigator.userAgent.match(/Android/i);
                    },
                    BlackBerry: function () {
                        return navigator.userAgent.match(/BlackBerry/i);
                    },
                    iOS: function () {
                        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                    },
                    Opera: function () {
                        return navigator.userAgent.match(/Opera Mini/i);
                    },
                    Windows: function () {
                        return navigator.userAgent.match(/IEMobile/i);
                    },
                    any: function () {
                        return (SEMICOLON.isMobile.Android() || SEMICOLON.isMobile.BlackBerry() || SEMICOLON.isMobile.iOS() || SEMICOLON.isMobile.Opera() || SEMICOLON.isMobile.Windows());
                    }
                };

                SEMICOLON.documentOnResize = {

                    init: function () {

                        var t = setTimeout(function () {
                            SEMICOLON.initialize.stickFooterOnSmall();
                            SEMICOLON.initialize.stickyFooter();
                        }, 500);

                        windowWidth = $window.width();

                    }

                };

                SEMICOLON.documentOnReady = {

                    init: function () {
                        SEMICOLON.initialize.init();
                        SEMICOLON.documentOnReady.windowscroll();
                    },

                    windowscroll: function () {

                        var headerOffset = 0,
                            headerWrapOffset = 0;

                        if ($header.length > 0) { headerOffset = $header.offset().top; }
                        if ($header.length > 0) { headerWrapOffset = $headerWrap.offset().top; }
                        if ($pagemenu.length > 0) {
                            if ($header.length > 0 && !$header.hasClass('no-sticky')) {
                                pageMenuOffset = $pagemenu.offset().top - $header.outerHeight();
                            } else {
                                pageMenuOffset = $pagemenu.offset().top;
                            }
                        }

                        var headerDefinedOffset = $header.attr('data-sticky-offset');
                        if (typeof headerDefinedOffset !== 'undefined') {
                            if (headerDefinedOffset == 'full') {
                                headerWrapOffset = $window.height();
                                var headerOffsetNegative = $header.attr('data-sticky-offset-negative');
                                if (typeof headerOffsetNegative !== 'undefined') { headerWrapOffset = headerWrapOffset - headerOffsetNegative - 1; }
                            } else {
                                headerWrapOffset = Number(headerDefinedOffset);
                            }
                        } else {
                            headerWrapOffset = headerOffset;
                        }


                        $window.on('scroll', function () {

                            SEMICOLON.initialize.goToTopScroll();
                            $('body.open-header.close-header-on-scroll').removeClass("side-header-open");


                        });
                    }

                };

                SEMICOLON.documentOnLoad = {

                    init: function () {
                        SEMICOLON.initialize.stickFooterOnSmall();
                        SEMICOLON.initialize.stickyFooter();
                    }

                };

                var $window = $(window),
                    $body = $('body'),
                    $wrapper = $('#wrapper'),
                    $header = $('#header'),
                    $headerWrap = $('#header-wrap'),
                    $content = $('#site-content'),
                    $footer = $('#footer'),
                    $pagemenu = $('#page-menu'),
                    $goToTopEl = $('#gotoTop');

                $(document).ready(SEMICOLON.documentOnReady.init);
                $window.on('load', SEMICOLON.documentOnLoad.init);
                $window.on('resize', SEMICOLON.documentOnResize.init);
            }
        }

         var cartHidden = true;
         var loginHidden = true;
        $(document).mouseup('click', function (e) {
            var triggerId = $(e.target).parent().attr('id');
            cartHidden = $("#cart-preview:visible").length == 0;
            loginHidden = $("#login-preview:visible").length == 0;

            switch (triggerId) {
                case 'top-login-trigger':
                case 'top-login':
                    if (!cartHidden) {
                        $('#cart-preview').slideUp("slow", function () {
                            if ($(window).width() > 991.98) {
                                $('#login-preview').slideToggle();
                            }
                            else {
                                window.location.href = "@Url.Action("Login","Account")";
                            }
                        });
                    } else {
                        if ($(window).width() > 991.98) {
                                $('#login-preview').slideToggle();
                        }
                        else {
                            window.location.href = "@Url.Action("Login","Account")";
                        }
                    }
                    break;
                case 'top-cart-trigger':
                    if (!loginHidden) {
                        $('#login-preview').slideUp("slow", function () {
                            if ($(window).width() > 991.98) {
                                $('#cart-preview').slideToggle();
                            }
                            else {
                                window.location.href = "@Url.Action("Cart","Shopping")";
                            }
                        });
                    } else {
                       if ($(window).width() > 991.98) {
                            $('#cart-preview').slideToggle();
                       }
                       else {
                           window.location.href = "@Url.Action("Cart","Shopping")";
                       }
                    }
                    break;
                default:
                    if (!loginHidden && $(e.target).parents('#top-login').length == 0) {
                        $('#login-preview').slideUp();
                    }
                    if (!cartHidden && $(e.target).parents('#cart-preview').length == 0) {
                        $('#cart-preview').slideUp();
                    }
                    break;
            }
        });

        // Initialization
        function init() {
            registerEventHandlers();
            //actions.ensureCountryLanguageChosen();

            if (actions.isMobileDevice()) {
                $('.product-overlay').addClass('d-none');
            }
            actions.SEMICOLON();
            actions.getCartCount();
        }

        init();
        $(function () {
            if (!!window.MSInputMethodContext && !!document.documentMode) {
                $('.page-transition-wrap').fadeOut();
            }
        });
    });
</script>