
<footer class="main_footer">
    <ul class="policy-list" role="list">
        <li class="policy-list__item ">
            <a aria-haspopup="dialog" data-modal="policy-privacy-policy" data-title-text="Retningslinjer for angrerett" data-close-text="Lukk" data-iframe="true" href="@UXSettings.PrivacyPolicyLink">@Resources.Checkout.Footer_PrivacyPolicy</a>
        </li>
        <li class="policy-list__item ">
            <a aria-haspopup="dialog" data-modal="policy-shipping-policy" data-title-text="Retningslinjer for frakt" data-close-text="Lukk" data-iframe="true" href="@UXSettings.ShippingPolicyLink">@Resources.Checkout.Footer_ShippingPolicy</a>
        </li>
        <li class="policy-list__item ">
            <a aria-haspopup="dialog" data-modal="policy-refund-policy" data-title-text="Personvernerklæring" data-close-text="Lukk" data-iframe="true" href="@UXSettings.RefundPolicyLink">@Resources.Checkout.Footer_RefundPolicy</a>
        </li>
        <li class="policy-list__item ">
            <a aria-haspopup="dialog" data-modal="policy-terms-of-service" data-title-text="Vilkår for bruk" data-close-text="Lukk" data-iframe="true" href="@UXSettings.TermsOfUseLink">@Resources.Checkout.Footer_TermsOfUse</a>
        </li>
    </ul>
</footer>
