<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SHopifyApp</title>
    @Styles.Render("~/Areas/Shopify/Content/css")
    @Scripts.Render("~/Areas/Shopifybundles/modernizr")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer style="width:100%;text-align:center">
        <hr />
        <p>&copy; @DateTime.Now.Year - Teqnavi</p>
    </footer>
    @Scripts.Render("~/Areas/Shopify/bundles/jquery")
    @Scripts.Render("~/Areas/Shopify/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
